/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */
.thought1 {
	font-family: 'Quicksand', sans-serif;
}
.thought2 {
	font-family: 'Inconsolata', monospace;
}
.thought3 {
	font-family: 'Pacifico', cursive;
}