#title {
	text-align: center;  
}
 
.input-group-prepend {
	width: 15%;
	text-align: right;
}
.input-group-text {
	width: 100%;
	text-align: right;
}
 
/* ======== Media Queries Below ======== */
@media only screen and (max-width: 1050px) {
	.input-group-text, .input-group-prepend {
		font-size: 14px;
	}
}
 
@media only screen and (max-width: 860px) {
	.input-group-text, .input-group-prepend {
		font-size: 10px;
	}
}
@media only screen and (max-width: 710px) {
	.input-group-text, .input-group-prepend {
		font-size: 8px;
	}
	.input-group-prepend {
		width: 22%;
	}
}